$font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$font-size-base: 12px !default;
$line-height-base: 1.5 !default;
$text-color: fade(#000, 65%) !default;
$primary-color: #1b85ff !default;
$primary-1: #e8f7ff !default;
$primary-2: #bfe6ff !default;
@import "mixin";

$tree-prefix-cls: draggable-tree;
$tree-title-height: 24px;
$tree-child-padding: 18px;
$border-radius-sm: 2px !default;
$item-hover-bg: $primary-1 !default;

.#{$tree-prefix-cls} {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 4px 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;

    ul {
      margin: 0;
      padding: 0 0 0 $tree-child-padding;
    }

    span[draggable="true"] {
      user-select: none;
      border-top: 2px transparent solid;
      border-bottom: 2px transparent solid;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;

      line-height: $tree-title-height - 4px;
    }

    &.drag-over {
      > span[draggable="true"] {
        background-color: $primary-color;
        color: white;
        opacity: 0.8;
      }
    }

    &.drag-over-gap-top {
      > span[draggable="true"] {
        border-top-color: $primary-color;
      }
    }

    &.drag-over-gap-bottom {
      > span[draggable="true"] {
        border-bottom-color: $primary-color;
      }
    }

    .#{$tree-prefix-cls}-node-content-wrapper {
      display: inline-block;
      padding: 0 5px;
      border-radius: $border-radius-sm;
      margin: 0;
      cursor: move;
      text-decoration: none;
      vertical-align: top;
      color: $text-color;
      transition: all 0.3s;
      height: $tree-title-height;
      line-height: $tree-title-height;
      width: calc(100% - 24px);

      &:hover {
        background-color: $item-hover-bg;
      }

      &.#{$tree-prefix-cls}-node-selected {
        background-color: $primary-2;
      }
    }

    span {
      &.#{$tree-prefix-cls}-switcher {
        margin: 0;
        width: 24px;
        height: 24px;
        line-height: $tree-title-height;
        display: inline-block;
        vertical-align: top;
        border: 0 none;
        cursor: pointer;
        outline: none;
        text-align: center;
        position: relative;

        &.#{$tree-prefix-cls}-switcher-noop {
          cursor: default;
        }

        &.#{$tree-prefix-cls}-switcher_open {
          @include uxTreeSwitcherIcon();
        }

        &.#{$tree-prefix-cls}-switcher_close {
          @include uxTreeSwitcherIcon();

          &:after {
            transform: rotate(270deg) scale(0.59);
          }
        }
      }
    }
  }
  &.is-drop-not-allow {
    .#{$tree-prefix-cls}-node-content-wrapper {
      cursor: not-allowed;
    }
    li {
      &.drag-over {
        > span[draggable="true"] {
          background-color: white;
          color: black;
          opacity: 1;
        }
      }
    }
  }

  > li {
    &:first-child {
      padding-top: 7px;
    }

    &:last-child {
      padding-bottom: 7px;
    }
  }

  .c-move {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s ease-in-out;
    }
  }
}
